*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {

  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color:rgba(255, 255, 255, 0.5);
  --surface-color-hover: rgba(0, 0, 0, 00,2);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --swicth-bg-url: url(./assets/moon-stars.svg);
}


.light{

  --text-color: black;
  --bg-url: url(./assets/bg-molile.light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color:rgba(0, 0, 0, 0.5);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --swicth-bg-url: url(./assets/sun.svg);
}


 






body { 

    /*blackground : color image repeat position/size */
    background:var(--bg-url) no-repeat top center/cover;
    height: 100vh;
    }
  
  
  body *{
    font-family: 'inter', sans-serif;
    color: var(--text-color);
  }
  
  
  
    #conteiner{
    width: 100%;
    max-width: 588px;
     margin: 56px auto 0 auto;
     padding: 0 24px;

}


   #profile {
    text-align: center;
}

  #profile img { 
     width: 112px; }

     #profile p {
        font-weight: 500px;
        line-height: 24px;
        padding: 15px;
     }

     /* switch */

     #switch {
        
        position: relative;
        width: 64px;
        

        margin: 4px auto;

     }


   #switch button {
    width: 32px;
    height: 32px;
    background: white var(--swicth-bg-url) no-repeat center ;
    border: 0;
    border-radius: 50%;


    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);

    animation: slide-back 0.2s ;
}

    .light #switch button {
      
      animation: slide-in 0.2s forwards;
    }


    #switch button:hover {
      outline: 8px solid var(--highlight-color);
    }

   #switch span {
     display: block;
     width: 64px;
    height: 24px;
    background-color: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
     border-radius: 9999px;
}


/*   listas */
     ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 24px 0;
     
}

ul li a {


display: flex;
align-items: center;
justify-content: center;

padding: 16px 24px;

background: var(--surface-color);
border: 1px solid var(--stroke-color);
border-radius: 8px;

backdrop-filter: blur(4px) ;
-webkit-backtrop-filter : blur(4px);

text-decoration: none;
font-weight: 500;

transition: background 0.2s;

}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid  var(--text-color);
}


#social_links{
 
  display: flex;
  justify-content: center;

  padding: 24px  0;

  font-size: 24px;
 }





 #social_links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
 

  transition: background 0.5s ;
  border-radius: 50%;
}

#social_links a:hover {

  background: var(--highlight-color);
 padding: 16px;

}

footer {
padding: 24px;
   
text-align: center;

}
/*media queries*/

@media (min-widht: 700px) {
  :root {
    --bg-url: url(./assets.bg-desktop.jpg)
}

  .light {
    --bg-url: url(.assets.bg-desktop-light.jpg)
  }

}


@keyframes slide-in {
  from {left: 0;}
  to {left: 50%;}

}

@keyframes slide-back {
  from {left: 50%;}
  to {left: 0;}
}